<%= form_for(@deliver_product) do |f| %>
  <% if @deliver_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deliver_product.errors.count, "error") %> prohibited this deliver_product from being saved:</h2>

      <ul>
      <% @deliver_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivery_id %><br>
    <%= f.number_field :delivery_id %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :delivery_quantity %><br>
    <%= f.number_field :delivery_quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
