<p id="notice"><%= notice %></p>

<h1>Listing Deliver Products</h1>

<table>
  <thead>
    <tr>
      <th>Delivery</th>
      <th>Product</th>
      <th>Delivery quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deliver_products.each do |deliver_product| %>
      <tr>
        <td><%= deliver_product.delivery_id %></td>
        <td><%= deliver_product.product_id %></td>
        <td><%= deliver_product.delivery_quantity %></td>
        <td><%= deliver_product.price %></td>
        <td><%= link_to 'Show', deliver_product %></td>
        <td><%= link_to 'Edit', edit_deliver_product_path(deliver_product) %></td>
        <td><%= link_to 'Destroy', deliver_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deliver product', new_deliver_product_path %>
