<p id="notice"><%= notice %></p>

<p>
  <strong>Delivery:</strong>
  <%= @deliver_product.delivery_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @deliver_product.product_id %>
</p>

<p>
  <strong>Delivery quantity:</strong>
  <%= @deliver_product.delivery_quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @deliver_product.price %>
</p>

<%= link_to 'Edit', edit_deliver_product_path(@deliver_product) %> |
<%= link_to 'Back', deliver_products_path %>
