<%= nested_form_for [@sauda, @delivery] do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Customer: </label><%= @sauda.customer.name %>
  </div>

  <div class="field">
    <%= f.hidden_field :sauda_id, value: @sauda.id %>
    <label>Sauda: </label><%= @sauda.number %>
  </div><br/>

<!--   <div class="field">
    <%#= f.label :number %><br>
    <%#= f.text_field :number %>
  </div> -->
<!--   <div class="field">
    <%#= f.label :date %><br>
    <%#= f.date_select :date %>
  </div> -->

  <!-- <div class="field">
    <%#= f.label :total %><br>
    <%#= f.text_field :total %>
  </div> -->

  <% @sauda.sauda_line_items.each do |item|%>

    <label>Item Name: </label><%= item.category.name%><br/>
    <label>Item Rate: </label><%= item.rate%><br/>
    <label>Item Quantity: </label><%= item.quantity%><br/>
    <label>Sub Total: </label><%= sub_total = item.rate * item.quantity %><br/><br/>

    <%= f.fields_for :delivery_products, @delivery_product do |delivery_product| %>
  
      <%= delivery_product.hidden_field :price, value: sub_total  %>
      <label>Size: </label>
      <%= delivery_product.collection_select  :product_id, item.category.products, :id, :size, {prompt: "Select Size"}, {class: "ui search dropdown"} %><br/><br/>
      <label>Quantity: </label>
      <div class="ui input"><%= delivery_product.text_field :delivery_quantity %></div><br/><br/>
      <!-- <label>Total: </label> -->
      <!-- <div class="ui input"><%#= delivery_product.text_field :price %></div><br/><br/>  -->
      <%= delivery_product.link_to_remove "Remove deliveryProduct" %><br/><br/>

    <% end %>
    <%= f.link_to_add "Add DeliveryProduct", :delivery_products %><br/><br/>
  <% end %>
  <br/>

  <div class="actions">
    <%= f.submit class: "ui primary button" %>
  </div><br/>

<% end %>
