<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :delivery_date %><br>
    <%= f.date_select :delivery_date %>
  </div>
  <div class="field">
    <%= f.label :deliverytotal %><br>
    <%= f.text_field :deliverytotal %>
  </div>
  <div class="field">
    <%= f.label :sauda_id %><br>
    <%= f.number_field :sauda_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
