<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @delivery.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @delivery.date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @delivery.total %>
</p>

<p>
  <strong>Sauda:</strong>
  <%= @delivery.sauda_id %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
