<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @delivery.number %>
</p>

<p>
  <strong>Delivery date:</strong>
  <%= @delivery.delivery_date %>
</p>

<p>
  <strong>Deliverytotal:</strong>
  <%= @delivery.deliverytotal %>
</p>

<p>
  <strong>Sauda:</strong>
  <%= @delivery.sauda_id %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
