<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>
<% if current_user.is_admin? %>
  <%= link_to 'New Customer', new_customer_path, class: "ui primary button" %><br/><br/>
<% end %>

<table class="ui celled padded table dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Location</th>
      <th>Show</th>
      <% if current_user.is_admin? %>
        <th>Edit</th>
        <th>Destroy</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.number %></td>
        <td><%= customer.location %></td>
        <td><%= link_to 'Show', customer %></td>
        <% if current_user.is_admin? %>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
