<%= form_for [@sauda, @payment] do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :sauda_id, value: @sauda.id %>
    <label>Sauda: <%= @sauda.number %></label>
  </div><br/>

  <div class="field">
    <%= f.label :amount %><br>
    <div class="ui input"><%= f.text_field :amount %></div>
  </div><br/>

  <div class="actions">
    <%= f.submit class: "ui primary button" %>
  </div><br/>

<% end %>
