<p id="notice"><%= notice %></p>

<h1>Listing Roles</h1>
<% if current_user.is_admin? %>
  <%= link_to 'New Role', new_role_path, class: "ui primary button" %><br/><br/>
<% end %>
<table class="ui celled padded table dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <% if current_user.is_admin? %>
        <th>Edit</th>
        <th>Destroy</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= link_to 'Show', role %></td>
        <% if current_user.is_admin? %>
          <td><%= link_to 'Edit', edit_role_path(role) %></td>
          <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

