<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>
<% if current_user.is_admin? %>
  <%= link_to 'New Category', new_category_path, class: "ui primary button" %><br/><br/>
<% end %>

<table class="ui celled padded table dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <% if current_user.is_admin? %>
        <th>Edit</th>
        <th>Destroy</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <% if current_user.is_admin? %>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
