<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<% if current_user.is_admin? %>
	<%= link_to 'Edit', edit_product_path(@product), class: "ui button" %>
	<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui red button" %><br/><br/>
<% end %>
<%= link_to 'Back', products_path, class: "ui black button" %><br/><br/>